<% include partials/header %>

    <!-- Page Content -->
    <% include partials/channel_section %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
<script src="string.prototype.safe"></script>
<script src="https://kit.fontawesome.com/1d132b72ff.js" crossorigin="anonymous"></script>
<script>console.log('xss')</script>.safe()
<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-borderless@3.2.0/borderless.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.0/markdown-it.min.js"></script>

      <div id="page">
        <div id="chat-list">
            <a href="/users/@me" class="user"><div class="avatar"><img src="<%= currentUser.profile_picture %>" /></div><%= currentUser.username %></a>
            <ul class="chat-list scroll-hijack">
                    <% channel.participant.forEach(function(participant){ %>
                        <%if(participant._id.equals(currentUser._id)){ %>
                        <% }else if(participant.online === false){ %>
                            <li><a href="/users/<%= participant._id %>"><div class="avatar"><img class="little_avatar"  src="<%= participant.profile_picture %>" /></div><del><%= participant.username %></del></a></li>
              
                        <% }else if(participant.online === true){ %>
                            <li><a href="/users/<%= participant._id %>"><div class="avatar"><img class="little_avatar"  src="<%= participant.profile_picture %>" /></div><%= participant.username %></a></li>

                        <% }else{ %>
              <li><a href="/users/<%= participant._id %>"><div class="avatar"><img class="little_avatar"  src="<%= participant.profile_picture %>" /></div><%= participant.username %></li></li></a>
                        <% } %>
                    <% }); %>
            </ul>
        <div id="chat-options" style="position: fixed; bottom: 0;">
          <center>
            <!-- video chat code -->
            <a target="_blank" href="https://glitchchord-beta.glitch.me">
            <button class="btn btn-primary btn-radius" title="begin video chat, this will take you to an external service">
              <i class="fas fa-video"></i>
            </button>
          </a>      
            <!-- 'rest mode' timer -->
            <script>
             function sleep(){
               let timerInterval
                Swal.fire({
                  title: 'Rest mode active',
                  html: 'This will close in <b></b> milliseconds. <br> Go grab a coffee <br> <img src="https://media.tenor.com/images/740be2294322b5bb77d62efa21d477af/tenor.gif">',
                  timer: 60000,
                  timerProgressBar: true,
                  onBeforeOpen: () => {
                    Swal.showLoading()
                    timerInterval = setInterval(() => {
                      const content = Swal.getContent()
                      if (content) {
                        const b = content.querySelector('b')
                        if (b) {
                          b.textContent = Swal.getTimerLeft()
                        }
                      }
                    }, 100)
                  },
                  onClose: () => {
                    clearInterval(timerInterval)
                  }
                }).then((result) => {
                  /* Read more about handling dismissals below */
                  if (result.dismiss === Swal.DismissReason.timer) {
                    console.log('I was closed by the timer')
                  }
                })
             }
            </script>
            <button id="sleep" style="background-color: blue" onclick="sleep()" class="btn btn-primary btn-radius" data-toggle="tooltip" data-placement="right" data-title="Slowdown mode pauses the screen<br>for a 30 second break" title="Enter rest mode">
              <i class="fas fa-moon"></i>
            </button>
            
      </center>
        </div>
        </div>
        <div id="chat" class="page">
            <div class="page-header clearfix">
                  <span><%= channel.channel_name %></span>
                <ul>
                    <!-- <li><a title="Online" href="#">Online - 1</a></li> -->
                </ul>
            </div>
            <div class="chat-body scroll-hijack">
                    <% channel.message.forEach(function(message){ %>
                        <div class="chat-message">
                                <div class="avatar"><img src="<%= message.author.profile_picture %>" /></div>
                                <div class="chat-message-content">
                                    <a href="/users/<%= message.author._id %>" class="chat-message-author"><%= message.author.username %></a>
                                    <span class="chat-message-date"><%= moment(message.created_at).format("lll")  %></span>
                                    <div class="chat-message-message">
                                            <%- message.text -%>
                                    </div>
                                </div>
                        </div>
                    <% }); %>
            </div>
            <div class="chat-footer relative">
                <form id="message-form" action="">
                    <input name="message" type="text" class="post-input" placeholder="Your Text..." />
                    <button type="submit" class="post-button"><span class="caret-right"></span></button>
                </form>
            </div>
        </div>
    </div>
<% include partials/footer %>