<% include partials/header %>

    <!-- Page Content -->
    <% include partials/channel_section %>
    <div id="page">
        <div id="chat-list">
            <a href="/users/@me" class="user"><div class="avatar"><img src="<%= currentUser.profile_picture %>" /></div><%= currentUser.username %></a>
            <ul class="chat-list scroll-hijack">
            </ul>
        </div>
        <div id="profile" class="page">
            <div class="page-header clearfix">
                <span>My Profile</span>
                <ul>
                   <li><a title="Online">Online = 1</a></li>
                </ul>
            </div>
            <div class="profile-body scroll-hijack">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="row valign">
                            
                          <div class="col-md-6">
                                <h6 class="text-bold mt-25">invite code list</h6>
                                <p class="mb-25 clr-fade text-small">Click a group to copy the invite link to clipboard</p>
                                <p class="mb-25 clr-fade text-small">or goto your channel and append /join/ before the long number (eg: <code>https://glitchchord.glitch.me/channel/join/long_number</code>)</p>
                                <div class="groups-list scroll-hijack">
                                    <ul class="list">
                                        <% channels.forEach(function(channel){ %>
                                            <li><a href="/channel/<%=channel._id%>" data-invite-link="https://glitchchord.glitch.me/channel/join/<%=channel._id%>"><div class="avatar"><img class="little_avatar" src="<%= channel.channel_picture %>" /></div><%=channel.channel_name%></a></li>
                                        <%});%>
                                      
                                  </ul>
                              </div>
                              <hr>
                               <div class="scroll-hijack">
                                     <ul class="list">
                                         <h6 class="text-bold">Client information</h6>
                                         <p id="browser"></p>
                                         <p id="browserversion"></p>
                                         <p id="platform"></p>
                                      
                                    </ul>
                                  <script>
                                    document.getElementById("browser").innerHTML =
                                      "<b>browser = </b> " + navigator.appName;
                                    document.getElementById("browserversion").innerHTML = 
                                      "<b>browser version = </b> " + navigator.appVersion;  
                                    document.getElementById("platform").innerHTML =
                                      "<b>client Platform</b> = " + navigator.platform;
  

                                  </script>
                              </div>
                              <hr>
                            </div>
                            <div class="col-md-6">
                                <div class="mt-25 visible-xs visible-sm"></div>
                                <h6 class="text-bold">Profile Settings</h6>
                                <form class="form-horizontal" action="/users/@me/update?_method=PATCH" method="POST">
                                    <div class="form-group">
                                        <p class="label mb-10">Choose a new profile image</p>
                                        <label  for="profile_photo" class="profile-photo-placeholder avatar-placeholder" data-toggle="tooltip" data-title="Upload a new profile image" data-placement="bottom"><img id="profile_photo_img" src="<%= currentUser.profile_picture %>" /></label>
                                        <input id="profile_photo" class="profile-photo"  />
                                    </div>
                                  <div class="form-group">
                                      <label for="profile_photo">OR load from a URL</label>
                                        <input type="url" name="user[profile_picture]" id="profile_picture" class="form-control" placeholder="https://" value="<%= currentUser.profile_picture %>"/>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="profile_email"><code>Email</code></label>
                                        <input type="email" name="user[email]" id="profile_email" class="form-control" value="<%= currentUser.email %>" />
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="profile_status"><code>Status</code></label>
                                          <input type="text" name="user[status]" id="profile_status" class="form-control" value="<%= currentUser.status %>" />
                                          <p class="label mb-10">everyone will see your status, make sure it isn't NSFW!</p>
                                        
                                    </div>

                                    <div class="form-group">
                                      <label for="profile_username"><code>Username</code></label>
                                      <input type="text" name="user[username]" id="profile_username" class="form-control" value="<%= currentUser.username %>" />
                                  </div>
                                  
                                    <div class="form-group">
                                      <label for="profile_password"><code>Password</code></label>
                                        <input type="password" name="profile_password" id="profile_password" class="form-control" value="johndoe" />
                                    </div>
                                    <div class="form-group">
                                      <label for="profile_c_password"><code>Confirm Password</code></label>
                                        <input type="password" name="profile_c_password" id="profile_c_password" class="form-control" value="johndoe" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-radius">Save Changes</button>
                                  </div>
                              </form>
                             <button style="background-color: red;" onclick='alert("your account has been marked for deletion, after a few days all data tied with your user will be deleted. Sign back in to revert your changes");location.replace("/users/delete")' class="btn btn-primary btn-radius">
                                delete account
                               </button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>
